<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <h1>Edit Wiki</h1>

            <form action="/wikis/<%= wikiData.wiki.id %>/update" method="post">
                <div class="form-group">
                    <label for="title">Wiki Title</label>
                    <input value="<%= wikiData.wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                </div>

                <div class="form-group">
                    <label for="body">Wiki Body</label>
                    <textarea rows="4" class="form-control" name="body" placeholder="Enter Description"><%= wikiData.wiki.body %></textarea>
                </div>
                <% if(wikiData.wiki.userId === currentUser.id && currentUser.role > 0) { %>
                    <p>This wiki is currently
                        <% if(wikiData.wiki.private) { %> private.
                            <% } else {%> public.
                                <%}%>

                    </p>

                    <form>
                        <label for="visibility">Would you like to change the visibility of this wiki?</label>
                        <select id="visibility" style="display: block">
              <option value='false' style="display: block">Public</option>
              <option value='true' style="display: block">Private</option>
            </select>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <% }%>

                        <% if(wikiData.wiki.userId === currentUser.id && currentUser.role > 0) { %>
                            <p>Would you like to add collaborators to this wiki?</p>
                            <a href="/wikis/<%= wikiData.wiki.id %>/collaborator">Add collaborators</a>
                            <%}%>

                                <%if (wikiData.collaborators.length > 0) { %>
                                    <p>Here are the collaborators on this wiki: </p>
                                    <%= wikiData.collaborators[0].username %><a href="/wikis/:wikiId/collaborator/<%= wikiData.collaborators[0].userId%>">Remove this collaborator</a>
                                        <% } %>






        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>