<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>    

        <main class="container">
            <% include ../static/partials/navbar.ejs %>
            

            <h1 class="header-text">Edit Wiki</h1>

            <div class="form-container">
            <form id="wiki-edit" action="/wikis/<%= wikiData.wiki.id %>/update" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input value="<%= wikiData.wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                </div>

                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="wiki-edit-body" rows="500" class="form-control" name="body" placeholder="Enter Description"><%= wikiData.wiki.body %></textarea>
                </div>
                <% if(wikiData.wiki.userId === currentUser.id && currentUser.role > 0) { %>
                    <p>This wiki is currently
                        <% if(wikiData.wiki.private) { %> private.
                            <% } else {%> public.
                                <%}%> Change its visibility below: 
                    </p>

                    <form>                        
                        <select id="visibility" style="display: block">
              <option value='false' style="display: block">Public</option>
              <option value='true' style="display: block">Private</option>
            </select>
            <% }%>
                        <button  type="submit" class="button-positive wiki-edit-button">Update</button>
                    </form>                    
                        <% if(wikiData.wiki.userId === currentUser.id && currentUser.role > 0 && wikiData.collaborators.length === 0) { %>
                            <p>Would you like to add collaborators to this wiki?</p>
                            <a href="/wikis/<%= wikiData.wiki.id %>/collaborator"><button class="button-positive">Add collaborators</button></a>
                            <%}%>

                                <%if (wikiData.collaborators.length > 0) { %>
                                    <p>The following users are collaborators on this wiki: </p>
                                    <%= wikiData.collaborators[0].username %><a href="/wikis/:wikiId/collaborator/<%= wikiData.collaborators[0].userId%>"><button class="button-negative"> Remove collaborator</button></a>
                                    <a href="/wikis/<%= wikiData.wiki.id %>/collaborator"><button class="button-positive">Add collaborators</button></a>
                                        <% } %>
                                    </div>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>